*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 2vh;
}

body {
    background-color: black;
}

span {
    height: min-content;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-rows: 2fr 6fr;
    gap: 5vh;
    transition: all 0.2s ease 0s;
}

.header {
    display: grid;
    gap: 2vh;
    padding: 1vh;
    justify-items: center;
}


.title-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.title-wrapper>.title {
    color: #DA6884;
    font-size: 3rem;
    height: min-content;
}

.image-container {
    display: flex;
    align-items: end;
    justify-content: start;

}

.image-wrapper {
    display: flex;
    background-size: 100% 100%;
}


.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34vh, 1fr));
    transition: grid-columns all 0.6s ease 0s;
    align-items: center;
    justify-items: center;
    padding: 2vh;
    row-gap: 4vh;
}

.book-place,
.book {
    display: grid;
    width: 32vh;
    height: 45vh;
    border-radius: 0 1.5rem 1.5rem 0;
    transition: all 0.2s ease 0s;
}

.book-place {
    border: 0.5vh #711925 solid;
    align-items: center;
    justify-content: center;
    background-color: #DA6884;
    opacity: 0.7;
    transition: all 0.2s ease 0s;
}

.book-place:hover {
    opacity: 1;
}

.plus {
    height: 50%;
}

.book {
    grid-template-columns: 4vh 1fr;
    background-color: #711925;
    border: #34050F 0.3vh solid;
    opacity: 1;
    color: #f7b9da;
}

.spine {
    background-color: #34050F;
}

.cover {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.book-header {
    display: grid;
    justify-items: right;
}

.trash-wrapper,
label {
    width: 6vh;
    height: 6vh;
}

.bookmark-wrapper {
    display: grid;
}

.unchecked {
    background-image: url(./images/book/bookmark-outline.svg);
}

.checked {
    background-image: url(./images/book/bookmark-check.svg);
}

.book-middle {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.author,
.title {
    display: flex;
    padding: 1vh;
    border-bottom: 0.3vh black solid;

}

.author {
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.title {
    justify-content: center;
    font-size: 1.5rem;
}

.book-footer {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    text-align: right;
    padding: 2vh;
}

.trash-wrapper {
    background-image: url(./images/book/trash.svg);
    background-size: 100%;
}

.pages {
    height: min-content;
}

.pages>input {
    width: 4.5vh;
    font-size: 1rem;
    background-color: #711925;
    text-align: right;
    outline: none;
}

::placeholder {
    color: black;
}

.pages-read {
    color: #f7b9da;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup {
    position: fixed;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    justify-items: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    padding: 1vh;
    transition: all 0.5s ease 0s;
}

.close-popup {
    display: grid;
    justify-items: center;
    width: 4vh;
    height: 4vh;
    justify-self: right;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    align-items: center;
}

h1 {
    color: #ff93ae;
    font-size: 2.4rem;
}

.create-book {
    display: grid;
    grid-template-rows: 8vh 8vh 49vh;
    background-color: #711925;
    width: 40vh;
    height: 80vh;
    justify-items: center;
    align-content: center;
    padding: 2vh;
    border-radius: 1vh;
}

.fields {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    align-content: space-around;
    width: 30vh;
}

.fields>li:not(.checkbox) {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 0.5vh;
}

li>label {
    width: 25vh;
    height: min-content;
    color: #ff93ae;
}

.inp {
    background-color: #f5d9b7;
    height: 5vh;
    width: 30vh;
    border-radius: 1vh;
    padding-left: 1vh;
    outline: none;
    appearance: none;
    font-size: 1rem;
    color: #711925;
}

.inp:hover {
    background-color: #faebd7;
}

.inp::placeholder {
    color: #711925;
    opacity: 0.5;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1vh;
    align-items: center;
}

.is-read {
    width: 4vh;
    height: 4vh;
}

.add-book {
    width: 20vh;
    height: 7vh;
    border-radius: 1vh;
    margin: 3vh;
    background-color: #f5d9b7;
    color: #711925;
    font-size: 1.3rem;
    justify-self: left;
}

.add-book:hover {
    background-color: #faebd7;
}

.add-book:active {
    position: relative;
    top: +1px;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-aspect-ratio:1/1.0001) {
    .header {
        justify-content: center;
    }

    .title-wrapper {
        justify-content: center;
    }

    .image-wrapper>img {
        display: flex;
        width: 38vh;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .header {
        grid-template-columns: 1fr;
    }

    .image-wrapper>img {
        display: flex;
        width: 68vh;
    }
}